<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Список фильмов</title>
    <link rel="stylesheet" th:href="@{/css/styles1.css}">
    <script src="/js/main.js" defer></script>
</head>

<body>
<header>
    <div class="header-filed">
        <h1>Фильмы</h1>
        <div sec:authorize="!isAuthenticated()" class="h-buttons">
            <div class="h-button-inner">
                <div class="h-button button">
                    <a th:href="@{/registration}">Регистрация</a>
                </div>
                <div class="h-button button">
                    <a th:href="@{/login}">Войти</a>
                </div>
            </div>
        </div>

        <div sec:authorize="isAuthenticated()" class="h-buttons">
            <form th:action="@{/logout}" method="post" class="h-button-inner">
                <button type="submit" class="h-button button">
                    <a >Выход</a>
                </button>
            </form>
        </div>
    </div>
</header>

<main>
    <div th:each="movie : ${movies}"  class="movie-list">
        <div class="movie-item">
            <div class="movie-image" >
                <img th:src="@{'/images/' + ${movie.imgSrc}}" alt="${movie.title}" class="movie-image"/>
            </div>
            <div class="movie-genre" th:text="'Жанры: ' + ${movie.genre}"></div>
            <div class="movie-discr" th:text="'Синопсис: ' + ${movie.description}"></div>

            <div class="movie-title">
                <a th:href="@{/movie/{id}/(id=${movie.id})}" th:text="${movie.title}"></a>
            </div>
        </div>
    </div>
</main>
</body>
</html>
