<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <link rel="stylesheet" th:href="@{/css/styles1.css}" />
  <link rel="stylesheet" th:href="@{/css/registration-styles.css}" />
</head>
<body>
<header>
  <h1>Регистрация</h1>
</header>

<div class="registration-container">
  <!-- Вывод общих ошибок -->
  <div class="error-message" th:if="${registrationError}">
    <p th:text="${registrationError}"></p>
  </div>

  <form class="registration-form" th:action="@{/registration}" th:object="${registrationForm}" method="post">
    <div class="form-field">
      <label for="username">Логин:</label>
      <input type="text" id="username" th:field="*{username}" placeholder="Введите логин" />
      <div class="error-message" th:if="${#fields.hasErrors('username')}">
        <p th:each="err : ${#fields.errors('username')}" th:text="${err}"></p>
      </div>
    </div>

    <div class="form-field">
      <label for="email">Email:</label>
      <input type="email" id="email" th:field="*{email}" placeholder="Введите email" />
      <div class="error-message" th:if="${#fields.hasErrors('email')}">
        <p th:each="err : ${#fields.errors('email')}" th:text="${err}"></p>
      </div>
    </div>

    <div class="form-field">
      <label for="password">Пароль:</label>
      <input type="password" id="password" th:field="*{password}" placeholder="Введите пароль" />
      <div class="error-message" th:if="${#fields.hasErrors('password')}">
        <p th:each="err : ${#fields.errors('password')}" th:text="${err}"></p>
      </div>
    </div>

    <div class="actions">
      <button class="book-button" type="submit">Зарегистрироваться</button>
    </div>
  </form>

  <div class="movie-actions">
    <p>Уже есть аккаунт? <a class="back-link" th:href="@{/login}">Войдите</a></p>
  </div>
</div>
</body>
</html>